.footer {
  width: 1000px;
  margin: 100px auto 0px;
  background-color: #57606f;
  padding: 100px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgb(230 230 230);
}

.social {
  font-size: 50px;
}

.footer p {
  font-size: 20px;
  color: white;
}

a {
  color: #7bed9f;
  margin: 20px;
}
